@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes imgFade {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  font-size: 20px;
  font-family: Arial, sans-serif;
  animation: fadeInFromTop 2s ease-in-out;
}

.loading-bar-container {
  position: relative;
  width: 700px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px;
  overflow: hidden;
}

.loading-bar {
  height: 20px;
  width: 700px;
  background-color: #ccc;
  background: linear-gradient(to right, blue, purple, green);
}

.fade {
  transition: opacity 0.5s;
  animation: fadeInFromTop 1s ease-in-out;
}

.img-fade {
  animation: imgFade 2s ease-in-out;
}
