@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes imgFade {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  font-size: 20px;
  font-family: Arial, sans-serif;
  animation: fadeInFromTop 2s ease-in-out;
}

.loading-bar-container {
  position: relative;
  width: 700px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px;
  overflow: hidden;
}

.loading-bar {
  height: 20px;
  width: 700px;
  background-color: #ccc;
  background: linear-gradient(to right, blue, purple, green);
}

.fade {
  transition: opacity 0.5s;
  animation: fadeInFromTop 1s ease-in-out;
}

.img-fade {
  animation: imgFade 2s ease-in-out;
}

.overlay-container {
  position: relative;
}

.overlay-content-text {
  display: flex;
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: white;
  width: 40%;
}

.overlay-content-img {
  position: absolute;
  top: 60%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.slider-container img {
  object-fit: contain;
  /* width: 100%; */
  height: 400px;
}
.slider-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 400px;
}

.slider-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  object-fit: cover;
  transition: opacity 1.5s; /* Adjust transition duration as desired */
}

.slider-fade-in {
  opacity: 1;
  z-index: 2;
}

.slider-fade-out {
  opacity: 0;
  z-index: 1;
}
