@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes imgFade {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}

.loading-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-family: Arial, sans-serif;
  animation: fadeInFromTop 2s ease-in-out;
  text-align: center;
}

.loading-bar-container {
  width: 30%;
  height: 10%;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 auto;
}

.loading-bar {
  height: 20px;
  width: 100%;
  background-color: #ccc;
  background: linear-gradient(to right, blue, purple, green);
}

.fade {
  transition: opacity 0.5s;
  animation: fadeInFromTop 1s ease-in-out;
}

.img-fade {
  animation: imgFade 2s ease-in-out;
}

.overlay-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 50%;
}

.overlay-content-text {
  display: flex;
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: white;
  width: 40%;
}

.overlay-content-img {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.slider-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 400px;
}

.slider-container {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.slider-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  object-fit: cover;
  transition: opacity 1.5s;
}

.slider-fade-in {
  opacity: 1;
  z-index: 2;
}

.slider-fade-out {
  opacity: 0;
  z-index: 1;
}

/* Styles for the arrow buttons */

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 3;
}

.slider-button.left {
  left: 5px;
}

.slider-button.right {
  right: 5px;
}

.slider-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
